{% block body %}


<div class="center">
<h2 class="mt-3">Credits</h2>

<p class="lead">
    This project was done as part of the "Reinforcement Learning" course at the University of Amsterdam in the academic year of 2020-2021. <br>
    The contributors are Angelo Groot, Jordan Earle, Melle Vessies and Reitze Jansen.
</p>
<div class="row">
    <div class="col-sm-4 textbox">
        THIS
    </div>
    <div class="col-sm-4 textbox">
        IS
    </div>
    <div class="col-sm-4 textbox">
        CREDIT
    </div>
</div>

{% endblock %}
